$font-stack:"LatoWeb", Arial, sans-serif;
$sidebar-width: 300px;
$theme-primary: #9a0007; // Material red 700
$theme-accent:#d32f2f; 
$link-color-ah: #e1392a;
$background: #eee;
@import "latofonts";

body {
    font-family: $font-stack;
    background-color: $background;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    min-height: 100vh;
    background-color: $theme-primary;
    color: white;

    .brand-container {
        background-color: $theme-accent; 
        padding: 15px;
    
        img {
            display: block;
            margin: 0 auto;
            max-width: 250px;
        }
    }
}

.right-wrapper {
    width: 100%;
}

.main_content {
    article {
        margin-top: 0;
        background: white;
        padding: 10px 20px 10px 20px;

        h1 {
            $margins: 15px;
            text-align: center;
            margin-top: $margins;
            margin-bottom: $margins;
        }
    }
}

.nav-top {
	height: 75px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    border-bottom: 1px solid #DBDADA;
}

ul.sb-nav {
	list-style: none;
	padding-top: 1.5rem;
	text-align: left;
    padding-left: 0;
    padding-right: 0;
    li, li.single, li.single:hover {
        min-height: 30px;
        transition: height 0.5s;
        margin:5px 0;
        height: 0;
        overflow: hidden;

        ul {
            list-style: none;

            li.active {
                a {
                    background-color: $link-color-ah; 
                }
            }
        }

        a {
            color: inherit !important;
            font-size: 1.2rem;
            font-weight: bold;
            width: 100%;
            display: block;
            padding-left: 1rem;
        }
        a:hover {
            background-color: $link-color-ah;
        }

        a.child-link {
            font-weight: initial;
            font-size: 1rem;
        }
    }
    li:hover, li.active {
        overflow: visible;
        height: auto;
    }

}

.breadcrumbs {
    
}

// Widgets:

.ytvideo-wrapper {
    max-width: 70%;
    margin: 10px auto;

    .ytvideo-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    
        iframe, embed, object {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.panel {
    .panel-container {
        margin: 10px 0 10px 10px;
        background-color: white;
        padding: 10px;
    }
}