<template>
    <div class="ytvideo-wrapper">
        <div class="ytvideo-container">
            <iframe :src="src" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</template>

<script>
export default {
    name: "ytvideo",
    props: {
        src: {
            type: String,
            default: "#"
        }
    }
}
</script>