<template>
    <div class="panel" :class="bsclass">
        <div class="panel-container">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "panel",
    props: {
        bsclass: {
            type: String,
            default: ""
        },
    }
}
</script>